body {
  font: normal 14px/100% "Andale Mono", AndaleMono, monospace;
  color: #fff;
  margin: 0 auto;
  background-color: #374954;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 80px;
}

h2 {
  text-align: center;
  font-size: 40px;
}

.container {
  flex: 50%;
  margin: 1px 1px;
}

.calc-container {
  flex: 50%;
  padding: 0 140px;
}

.container-fluid {
  display: flex;
  padding-top: 100px;
}

button {
  display: inline-block;
  background-color: #6bbe92;
  border: 0;
  width: 160px;
  margin: 10px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 50px;
}

input {
  margin: 10px;
  display: inline-block;
  width: 335px;
  height: 20px;
}

.header {
  height: 30px;
  color: #fff;
  background-color: rgb(41, 61, 75);
}

.footer {
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  background-color: rgb(41, 61, 75);
}
